/* BOOK */

/* Модальное фоновое окно */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Остается на месте */
    z-index: 1; /* Находится сверху */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включить прокрутку, если необходимо */
    background-color: rgb(0,0,0); /* Запасной цвет */
    background-color: rgba(0,0,0,0.7); /* Черный с прозрачностью */
	overscroll-behavior: contain;  
}


/* Модальное содержимое окна */
.modal-content {
    background-color: var(--white-color);
    margin: 5% auto; /* 15% сверху и по центру */
    padding: 20px;
    border-radius: 30px;
    /* border: 1px solid #888; */
    width: 60%; 
    /* height: 60%;  */
    overflow: auto;
}

/* Скрываем scrollbar для Chrome, Safari и Opera */
.modal-content::-webkit-scrollbar {
  display: none;
}

.modal-content img {
  width: 15vh; /* Установка ширины изображений в модальном окне как 15% от высоты окна */
  border-radius: 10px;
  margin: 0 5px;
  margin-bottom: 20px;
}



/* Кнопка закрытия */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}