/* Style the Image Used to Trigger the Modal */
.myImg {
    width: 100%;  /* изображение займет всю доступную ширину родительского контейнера */
    max-width: 200px;  /* ограничиваем максимальную ширину */
    height: 200px;  /* автоматическая высота, сохраняющая пропорции изображения */
    margin: 5px auto;  /* добавляем отступы и центрируем */
    display: block;  /* чтобы изображение занимало всю строку и было центрировано */
    border-radius: 5px;  /* скругление углов для приятного вида */
    transition: 0.3s;  /* добавляем плавный переход при наведении */
    cursor: pointer;
    object-fit: cover;
}

.myImg:hover {
    opacity: 0.7;  /* полупрозрачность при наведении */
}

@media (max-width: 700px) {
    .myImg {
        max-width: 40%;  /* изображение будет занимать всю ширину экрана на маленьких устройствах */
        margin: 5px ;  /* уменьшаем отступы */
    }
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9); /* Полупрозрачный черный фон */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    max-width: 90%; /* Максимальная ширина для изображений */
    max-height: 80%; /* Максимальная высота для изображений */
    object-fit: contain; /* Сохраняем пропорции изображений */
    border-radius: 30px;
    position: absolute; /* Абсолютное позиционирование */
    top: 50%; /* Сдвиг вниз на 50% */
    left: 50%; /* Сдвиг вправо на 50% */
    transform: translate(-50%, -50%); /* Центрирование изображения по горизонтали и вертикали */
}

/* Caption of Modal Image (Image Text) */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    position: absolute;
    bottom: 10px; /* Отступ от нижней границы */
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%);
    font-weight: 600;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    /* animation-name: zoom;
    animation-duration: 0.6s;
    transform-origin: center; Добавьте это свойство */
}

@keyframes zoom {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

/* The Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    z-index: 2; /* добавьте этот стиль, чтобы кнопка всегда была сверху */
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}