/* ОСНОВНЫЕ */

html {
  height: 100%;
}

body {
  margin: 0; /* Убирает стандартные отступы у тела документа */
  padding: 0; /* Убирает стандартные отступы у тела документа */
  font-family: "Inter", sans-serif;
  font-size: 14px; /* Установка базового размера шрифта */
  transition: background-color var(--transition-duration),
    color var(--transition-duration);
  height: 100%;
}

/* ШАПКА */
header {
  transition: background-color var(--transition-duration),
    color var(--transition-duration);
  margin-bottom: 10px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  overflow: visible;
  width: 100%;
  z-index: 99;
}

.head-conteiner {
  padding: 3px 5px;
  display: flex; /* Использование flexbox для размещения элементов в заголовке */
  justify-content: space-between; /* Равномерное распределение пространства между элементами заголовка */
  align-items: center; /* Вертикальное выравнивание элементов по центру */
  max-width: 1024px;
  margin: 0 auto;
}

.cat-link {
  margin-right: 10px;
}

.cat-link:hover {
  opacity: 0.9;
}

.cat-link img {
  max-width: 60px;
}

#theme {
  display: flex; /* Использование flexbox для расположения элементов управления темой */
  flex-direction: row-reverse; /* Размещение элементов в обратном порядке по оси X */
  float: right; /* Установка плавающего элемента, чтобы он был справа */
}

.wrapper {
  max-width: 1024px; /* Максимальная ширина контейнера */
  min-height: 100%;
  height: auto;
  margin: 0 auto; /* Центрирование контейнера по горизонтали */
  position: relative; /* Установка относительного позиционирования для дочерних элементов */
  transition: background-color var(--transition-duration),
    color var(--transition-duration); /* Плавный переход фона и цвета при изменении */
  height: auto;
}

.header-logo {
  display: flex;
}

.avatar img {
  width: 70px; /* Ширина изображения аватара */
  height: auto; /* Автоматическая высота для пропорционального отображения */
  border-radius: 50%; /* Круглая форма изображения */
  margin-right: 10px; /* Отступ справа от изображения */
}

.avatar {
  display: flex; /* Использование flexbox для отображения аватара и его текстового содержимого */
  align-items: center; /* Вертикальное выравнивание элементов по центру */
}

.social-links {
  display: flex; /* Использование flexbox для отображения ссылок на социальные сети */
  list-style-type: none; /* Убирает маркеры из списка */
  margin: 5px; /* Отступы у социального списка */
  gap: 5px; /* Промежуток между элементами списка */
  align-items: stretch;
}

.social-links ul {
  list-style-type: none; /* Убирает маркеры из вложенных списков */
  margin: 0; /* Убирает отступы */
  padding: 0; /* Убирает внутренние отступы */
}

.link a {
  display: flex;
}

.section {
  padding: 20px; /* Внутренние отступы секции */
  margin-bottom: 10px; /* Отступ снизу для разделения с соседними элементами */
  border-radius: 15px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}

/* ------------------------------------------------------------------------------- */

a {
  text-decoration: none; /* Убирает подчеркивание у ссылок */
}

a:hover {
  opacity: 0.8; /* Уменьшает непрозрачность ссылок при наведении */
}

h1 {
  margin: 0; /* Убирает отступы у заголовка hover */
  filter: drop-shadow(0 0 0.75rem #f3f3f375);
  text-decoration: none; /* Убираем подчеркивание текста логотипа */
  animation: flicker 5s infinite; /* Применение анимации к логотипу */
}

h2 {
  color: #2a9b4b;
  font-size: 18px;
  margin: 0 0 10px 0;
}

footer {
  background-color: #ffffff; /* Темный фон для подвала */
  color: #0f120e; /* Цвет текста в подвале */
  padding: 5px; /* Внутренние отступы подвала */
  text-align: center; /* Выравнивание содержимого по центру */
  border-radius: 0;
  margin: 0 auto;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sleep-cat {
  position: absolute;
  right: 10px;
}

.sleep-cat img {
  max-width: 60px;
}

.head-conteiner {
  display: flex; /* Использование flexbox для размещения элементов в заголовке */
  justify-content: space-between; /* Равномерное распределение пространства между элементами заголовка */
  align-items: center; /* Вертикальное выравнивание элементов по центру */

  margin: 0 auto;
}

.logo {
  display: flex; /* Использование flexbox для размещения логотипа */
  align-items: center; /* Вертикальное выравнивание логотипа */
  justify-content: center; /* Центрирование логотипа */
  /* font-family: pixel nes;  Закомментированный шрифт для логотипа */
  font-size: 25px; /* Размер шрифта для логотипа */
  color: #ffffff; /* Цвет текста логотипа */
}

/* анимация лого */
@keyframes flicker {
  0% {
    opacity: 1;
  } /* Полная непрозрачность */
  50% {
    opacity: 0.2;
  } /* Уменьшение непрозрачности до 20% */
}

strong {
  font-weight: 600; /* Установка жирного начертания текста */
  color: #2a9b4b; /* Цвет текста для выделенного текста */
  filter: drop-shadow(0 0 0.15rem #06801054);
  transition: background-color var(--transition-duration),
    color var(--transition-duration); /* Плавный переход фона и цвета текста */
}

/* Анимации социальных сетей */
.avatar img:hover {
  opacity: 0.9; /* Уменьшает непрозрачность изображения аватара при наведении */
}

.telegram:hover,
.gmail:hover,
.steam:hover {
  opacity: 0.6; /* Уменьшает непрозрачность ссылок на социальные сети при наведении */
}

/* Анимация темы */
.switch:hover {
  opacity: 0.6; /* Уменьшает непрозрачность элемента с классом dark при наведении */
}

.book {
  display: flex; /* Использование flexbox для размещения книги */
  flex-direction: row; /* Расположение элементов в строку */
  flex-wrap: wrap; /* Перенос элементов на новую строку при необходимости */
  gap: 10px; /* Промежуток между элементами книги */
  margin-top: 10px;
}

.book button {
  font-weight: 600;
  width: auto; /* Автоматическая ширина кнопки */
  background-color: #2a9b4b; /* Фон кнопки */
  border: none; /* Убирает рамку кнопки */
  border-radius: 15px; /* Углы кнопки становятся округлыми */
  padding: 10px; /* Внутренние отступы кнопки */
  color: #fff; /* Цвет текста кнопки */
  font-size: 16px; /* Размер шрифта для текста кнопки */
  cursor: pointer;
}

.book button:hover {
  opacity: 0.8; /* Уменьшает непрозрачность кнопки при наведении */
}

/* .project1 {
  color: #6f716e;
}

.project2 {
  color: #6f716e;
} */

.project1::marker {
  color: #20b2aa;
}

.project2::marker {
  color: #ff0000;
}

.work-xp-title {
  display: flex;
  align-items: center;
}

.work-xp-title {
  font-weight: 600;
}

.work-xp-title h3 {
  display: flex;
}

.s p {
  color: #6f716e;
}

.btn-work-xp {
  padding: 4px;
  background-color: #2a9b4b;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 12px;
}

.tags {
  margin-left: 5px;
  display: flex;
  gap: 5px;
}

p {
  margin: 0;
  padding: 0;
}

.btn-work-xp:hover {
  background-color: #014601;
}

/* ТУЛТИП спящего кота */

/* Стиль тултипа */
.sleep-cat .tooltip {
  visibility: hidden;
  width: 30px;
  background-color: #ffffff;
  color: #2a9b4b;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #2a9b4b;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 120%; /* Расположение над изображением */
  left: 60%;
  margin-left: -30px; /* Сдвиг по центру */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Треугольник под тултипом */
.sleep-cat .tooltip::after {
  content: "";
  position: absolute;
  top: 100%; /* Нижняя часть тултипа */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #2a9b4b transparent transparent transparent;
}

/* Показываем тултип при наведении */
.sleep-cat:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* ТУЛТИП спящего кота КОНЕЦ */

.section-test {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  
}

#projects {
  width: 46%;
}

#experience {
  width: 45%;
}