/* Переключатель - рамка вокруг ползунка */
.switch {
  position: relative;
  display: inline-block;
  width: 40px; /* Уменьшите ширину по желанию */
  height: 20px; /* Уменьшите высоту по желанию */
}

/* Скрыть стандартный HTML-checkbox */
.switch input {display:none;}

/* Ползунок */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px; /* Уменьшите высоту по желанию */
  width: 16px; /* Уменьшите ширину по желанию */
  left: 2px; /* Настройте, чтобы ползунок находился по центру */
  bottom: 2px; /* Настройте, чтобы ползунок находился по центру */
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #8a8a8a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px); /* Измените, в зависимости от новых размеров */
  -ms-transform: translateX(20px); /* Измените, в зависимости от новых размеров */
  transform: translateX(20px); /* Измените, в зависимости от новых размеров */
}

/* Закругленные ползунки */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
